.codemirror-container {
  font-size: 15px;
}

.codemirror-container.bordered {
  border-radius: 0;
  border-width: 0;
}

.CodeMirror-hscrollbar::-webkit-scrollbar {
  height: 6px;
}

.CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  background: #00000020;
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 6px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: #00000020;
}

.CodeMirror-gutters {
  background-color: white;
}

.cm-s-idea .CodeMirror-activeline-background {
  background: var(--el-color-primary-light-9);
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
  font-family: Sarasa Mono SC;
}
